<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>PR管理 | 管理画面</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="common/AdminLTE/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="common/AdminLTE/plugins/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="common/AdminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="common/AdminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="common/css/common.css">
<link rel="shortcut icon" href="common/img/favicon.ico">
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">



{include file="common/header_.tpl"}

{include file="common/side.tpl"}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">

<h1>PR管理</h1>

<ol class="breadcrumb">
<li class="active"><i class="fa fa-dashboard"></i> Home</li>
<li><a href="">PR管理</a></li>
<li class="active">登録・編集</li>
</ol>
</section>


<!-- Main content -->
<section class="content">
<div class="row">



{if $msg}
<div class="col-xs-12">
<div class="box box-default">

<div class="box-body">
<div class="callout callout-warning">
<h4>入力内容に不備があります</h4>
</div>
</div><!-- /.box-body -->

</div><!-- /.box -->
</div><!-- /.col -->
{/if}


<div class="col-sm-8 col-xs-12">
<div class="box box-warning">

<div class="box-header">
<h3 class="box-title">登録・編集</h3>
</div><!-- /.box-header -->

<div class="box-body">


<form name="form1" action="admin-pr-edit.html" method="post" enctype="multipart/form-data">
<input type="hidden" name="mode" value="form">
<input type="hidden" name="seq" value="{$form.seq}">

<table id="table_summary" class="table table-bordered table_edit" summary="表">
<tbody>
<tr>
<th>登録日付</th>
<td>

<div class="input-group date">
<div class="input-group-addon">
<i class="fa fa-calendar"></i>
</div>
<input type="text" class="form-control pull-right" name="pr_date" value="{$form.pr_date}" id="datepicker">
</div><!-- /.input group -->

{if $msg.pr_date}
<div class="error_message">
<ul>
<li>{$msg.pr_date}</li>
</ul>
</div>
{/if}
</td>
</tr>
<tr>
<th>サムネイル画像</th>
<td>
{if $form.image}
<img src="../img.php?id={$form.image}" width="200">
<input type="hidden" name="image_old" value="{$form.image}">
<div class="btn-group btn_checkbox" data-toggle="buttons"><label class="btn btn-primary"><input type="checkbox" name="image_del" value="1">削除する</label></div>
{/if}
<input type="file" name="image" />
{if $msg.image}
<div class="error_message">
<ul>
<li>{$msg.image}</li>
</ul>
</div>
{/if}
</td>
</tr>
<tr>
<th>タイトル<span>必須</span></th>
<td>
<input class="input_w10 form-control" type="text" name="title" value="{$form.title}">
{if $msg.title}
<div class="error_message">
<ul>
<li>{$msg.title}</li>
</ul>
</div>
{/if}
</td>
</tr>
<tr>
<th>PRテキスト</th>
<td>
<textarea class="textarea_w10 form-control" name="contents">{$form.contents}</textarea>
{if $msg.contents}
<div class="error_message">
<ul>
<li>{$msg.contents}</li>
</ul>
</div>
{/if}
</td>
</tr>
<tr>
<th>URL<span>必須</span></th>
<td>
<input class="input_w10 form-control" type="text" name="url" value="{$form.url}">
<p><div class="btn-group btn_checkbox" data-toggle="buttons"><label class="btn btn-primary{if $form.blank} active{/if}"><input type="checkbox" autocomplete="off" name="blank" value="1" {if $form.blank}checked="checked"{/if} />新しいウィンドウで開く</label></div></p>
{if $msg.url}
<div class="error_message">
<ul>
<li>{$msg.url}</li>
</ul>
</div>
{/if}
</td>
</tr>
<tr>
<th>公開・非公開</th>
<td>

<div class="btn-group btn_radio btn_radio_2col" data-toggle="buttons">
<label class="btn btn-primary{if $form.status==1} active{/if}"><input type="radio" name="status" autocomplete="off" value="1" {if $form.status==1}checked="checked"{/if} />公開</label>
<label class="btn btn-primary{if $form.status==2} active{/if}"><input type="radio" name="status" autocomplete="off" value="2" {if $form.status==2}checked="checked"{/if} />非公開</label>
</div>

{if $msg.status}
<div class="error_message">
<ul>
<li>{$msg.status}</li>
</ul>
</div>
{/if}
</td>
</tr>
</tbody>
</table>
<div class="text-right"><a href="javascript:do_confirm()" class="btn btn-warning"><i class="fa fa-floppy-o"></i> 保存</a></div>
</form>

</div><!-- /.box-body -->
</div><!-- /.box -->


</div><!-- /.col -->


</div><!-- /.row -->
</section><!-- /.content -->
</div><!-- /.content-wrapper -->



{include file="common/footer_.tpl"}





<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<script src="common/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>

<script src="common/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
<script src="common/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="common/AdminLTE/plugins/fastclick/fastclick.js"></script>
<script src="common/AdminLTE/js/app.min.js"></script>
<script src="common/AdminLTE/js/demo.js"></script>
<script src="common/js/common.js"></script>

<script src="../common/js/mini_ajax.js"></script>
{literal}
<script>
$(function(){
	$("#datepicker").datepicker();
});

function do_confirm()
{
	if (confirm("以下の内容で登録しますか？")) {
		document.form1.submit();
	}
}
</script>
{/literal}

</body>
</html>

