<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>会員管理｜管理画面</title>
<link rel="stylesheet" type="text/css" href="common/css/import.css" media="all" />
<script type="text/javascript" src="common/js/jquery.js" charset="utf-8"></script>
<script type="text/javascript" src="common/js/rollover.js" charset="utf-8"></script>
</head>
<body>
<div id="wrapper">
{include file="common/header.tpl"}
	<!--コンテンツ開始-->
	<div id="content">
		<div class="wrap">
			<h2 class="admin_h2_title">会員管理&nbsp;&gt;&nbsp;完了</h2>
		<div class="left_01">
			<p class="mBtm50 mLft10">会員情報の、登録・編集が完了しました。</p>
			<p class="mBtm10 mLft10">
				<a href="admin-user.html"><img src="common/img/b_back01.jpg" width="130" height="31" alt="一覧に戻る" /></a>
            </p>
		</div>
		<!--コンテンツ：右コンテンツ開始-->
		<!--<div class="right_01">
			<table class="side_table_01" cellspacing="0" summary="表">
				<tr>
                	<th>メモ</th>
				</tr>
				<tr>
					<td>
					<textarea class="memo_txt" name=""></textarea>
					<div class="memo_01"><a href="#">メモを書く</a></div>
					</td>
				</tr>
				<tr>
					<td>2013/10/23 12:00:00<span class="fr"><a href="">牧山直紀</a></span><p>○○しておきました。</p></td>
				</tr>
				<tr>
					<td>2013/10/23 12:00:00<span class="fr"><a href="">牧山直紀</a></span><p>○○しておきました。</p></td>
				</tr>
				<tr>
					<td>2013/10/23 12:00:00<span class="fr"><a href="">牧山直紀</a></span><p>○○しておきました。</p></td>
				</tr>
				<tr>
					<td>2013/10/23 12:00:00<span class="fr"><a href="">牧山直紀</a></span><p>○○しておきました。</p></td>
				</tr>
				<tr>
					<td>2013/10/23 12:00:00<span class="fr"><a href="">牧山直紀</a></span><p>○○しておきました。</p></td>
				</tr>
				<tr>
					<td>2013/10/23 12:00:00<span class="fr"><a href="">牧山直紀</a></span><p>○○しておきました。</p></td>
				</tr>
				<tr>
					<td>2013/10/23 12:00:00<span class="fr"><a href="">牧山直紀</a></span><p>○○しておきました。</p></td>
				</tr>
				<tr>
					<td>2013/10/23 12:00:00<span class="fr"><a href="">牧山直紀</a></span><p>○○しておきました。</p></td>
				</tr>
			</table>
			<div class="side_paging">
				<a class="fl" href="#">前へ</a>
				<a class="fr" href="#">次へ</a>
			</div>
		</div>-->
		</div>
	</div>
	<!--コンテンツ終了-->
{include file="common/footer.tpl"}
</div><!--div#wrapper:end-->
</body>
</html>
</html>
