<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="content-script-Type" content="text/javascript" />
<title>管理者画面</title>
<LINK rel="stylesheet" href="css/admin.css" type="text/css" media="screen" />
</head>

<body>

<div id="layout">

{include file="common/header.tpl"}


<div id="main" class="clearfix">

<div class="top">
<h2>設定</h2>
</div>

<div class="box">

<div class="submenu">
&nbsp;</div>


<div class="cts">

{if $message}
<div class="error">{$message}</div>
{/if}

</div>

</div>

</div>

{include file="common/footer.tpl"}

</div>
</body>
</html>
