


@media (max-width: 1640px) {

    .top-logo {
        margin-left: calc(25vw - 245px);
        width: 105px;
    }   

    .left-scroll {
        right: unset;
        left: calc(1240 / 1920 * 25vw - 175px);
        top: 400px;
    }
    
    





    .left_computer_slider {
        width: 190px;
        height: 167px;
        margin: 0 auto;
    }

    .left_computer_slider_list_content {
        width: 190px;
        height: 167px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .menufixed_on .left-scroll {
        top: 160px;
    }





    .right-scroll {
        left: unset;
        right: calc(1240 / 1920 * 25vw - 175px);
        top: 150px;
    }

    .right_computer_slider {
        width: 190px;
        height: 167px;
        margin: 0 auto;
    }

    
    .right_computer_slider_list_content {
        width: 190px;
        height: 167px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .container {
        max-width: 768px;
    }

    .pc-menu .humbuger-menu {
        width: 45px;
    }

    .pc-menu .humbuger-menu span {
        margin-bottom: 10px;
    }

    .content-01 .sp-menu {
        right: calc(50vw - 354px);
    }

    .humbuger-menu.open span:nth-child(1) {
        transform: translate(0px, 10px) rotate(-45deg) scalex(1.2);
    }

    .sp-menu .humbuger-menu.open span:nth-child(1) {
        transform: translate(0px, 5px) rotate(-45deg) scalex(1.2);
    }

    .sp-menu .humbuger-menu.open span:nth-child(3) {
        transform: translate(0px, -15px) rotate(45deg) scalex(1.2);
    }

    .content-01 .main-banner-text {
        padding: 20px 100px 30px 45px;
    }

    .content-01 .main-banner-text h4 {
        font-size: 30px;
        line-height: 45px;
        padding-bottom: 5px;
    }

    .content-01 .main-banner-text h3 {
        font-size: 55px;
        line-height: 65px;
    }

    .content-02 {
        padding: 65px 50px 60px;
    }
    .content-02 .content-02-inner {
        padding: 55px 0 60px;
    }
    .content-02-left-icon {
        top: 140px;
    }
    .content-02-left-icon>div {
        width: 80px;
    }
    .content-02-left-icon>div:before {
        width: 55px;
        height: 55px;
        top: -25px;
        right: -20px;
    }
    .content-02-right-icon01 {
        top: 70px;
        width: 48px;
        height: 48px;
    }
    .content-02-right-icon02 {
        top: 120px;
        right: 20px;
        width: 90px;
    }

    .content-02 .content-02-inner h5 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 18px;
    }

    .content-02 .content-02-inner h3 {
        font-size: 46px;
        line-height: 58px;
    }

    .content-02 .content-02-inner p {
        font-size: 17px;
        line-height: 30px;
    }

    .content-02-right-icon03 {
        bottom: 85px;
        right: 10px;
        width: 55px;
        height: 55px;
    }

    .content-02 .u-canvasWave {
        bottom: -130px;
    }

    .content-03 .large-trouble {
        top: -25px;
        left: 0;
        width: 50px;
    }

    .content-03 {
        padding: 0 65px;
        height: 1035px;
    }

    .content-03-main {
        display: flex;
        justify-content: center;
    }
    
    .content-03 .content-03-title {
        padding-top: 130px;
        transform: unset;
    }

    .content-03-title {
        font-size: 24px;
        line-height: 36px;
    
    }

    .content-03-title:before {
        right: -35px;
        bottom: 10px;
        height: 45px;
    }

    .content-03-title:after {
        width: 370px;
    }
    
    .content-03-title span {
        font-size: 36px;
        line-height: 50px;
    }

    
    .content-03 .content-03-main div img {
        transform: scale(0.8);
    }
    
    .content-03-text p {
        line-height: 24px;
    }

    .content-03-text .tamadefan {
        padding-right: 10px;
    }

    .content-03-main .top-shine {
        top: 0px;
        left: 65px;
    }

    .content-03-pic01 {
        top: 180px;
        right: -40px;
    }

    .content-03-pic01>div:before {
        top: -10px;
        right: 35px;
    }


    .content-03-pic02 {
        left: 0;
        top: 285px;
    }

    .content-03-pic03 {
        left: 205px;
        top: 395px;
    }

    .content-03-pic04 {
        left: -20px;
        top: 475px;
    }

    .content-03-pic05 {
        right: -75px;
        top: 505px;
    }

    .content-03-pic06 {
        left: -80px;
        top: 498px;
    }

    .content-03-pic07 {
        top: 670px;
        left: -17px;
    }


    .content-03-pic07>div:before {
        right: 10px;
        top: 8px;
    }

    .content-03-pic08 {
        right: 11px;
        top: 720px;
    }
    
    .content-03 .u-canvasWave {
        bottom: -130px;
    }

    .content-04 {
        padding: 155px 60px 50px;
    }

    .content-04 .content-04-bac-01 {
        top: 170px;
        right: 50px;
    }

    .content-04 .content-04-bac-02 {
        right: -60px;
        width: 360px;
    }

    .content-04-main-left {
        row-gap: 25px;
        z-index: 4;
    }

    .content-04-main-left h4 {
        font-size: 25px;
        line-height: 35px;
    }

    .content-04-main-left h4 span {
        font-size: 40px;
        line-height: 53px;
    }

    .content-04-main-left-list {
        row-gap: 18px;
    }

    .content-04-main-right {
        position: absolute;
        width: 175px;
        right: 0;
        bottom: 0;
    }
    
    .check-content {
        padding: 160px 60px 180px;
    }

    .check-content-inner {
        padding: 40px 50px;
    }

    .check-content-inner:before {
        top: -20px;
        left: -25px;
    }

    .check-content-inner:after {
        bottom: -20px;
        right: -25px;
    }

    .check-content-inner p {
        font-size: 17px;
        line-height: 25px;
    }

    .check-contect-right-icon {
        right: -50px;
        top: -60px;
        transform: scale(0.8);
    }

    .check-contect-left-icon02 {
        transform: scale(0.8);
        left: -50px;
        bottom: -65px;
    }
    
    .check-contect-left-icon01 {
        transform: scale(0.8);
        left: -40px;
        bottom: -15px;
    }

    .content-05 {
        padding: 50px 40px 125px 70px;
    }

    .content-05-title-03 {
        font-size: 30px;
        font-weight: 700;
        line-height: 43px;
        margin-bottom: 10px;
    }

    .content-05-main {
        padding-top: 50px;
        row-gap: 150px;
    }

    .content-05-item {
        flex-direction: row;
    }

    .content-05-item .content-05-item-left {
        margin: 40px 20px 20px;
        width: 600px;
        padding: 0 250px 30px 45px;
    }

    .content-05-item-left-inner-tag h5 {
        margin: auto 15px;
        font-size: 15px;
        line-height: 20px;
    }

    .content-05-item-left-inner-title {
        margin-bottom: 15px;
        font-size: 21px;
        line-height: 38px;
    }
    

    .content-05-item-left-inner h1,
    .item02 .content-05-item-left-inner h1 {
        font-size: 70px;
    }

    .content-05-item-right {
        margin-top: 15%;
    }

    .content-05-item-right img {
        width: unset;
        height: unset;
    }

    .item02 .content-05-item-left {
        padding: 0 25px 30px 250px;
    }

    .content-06-title03 {
        font-size: 20px;
        line-height: 32px;
    }

    .content-06-title03 span {
        font-size: 30px;
        line-height: 48px;
    }

    .content-06-inner-title p {
        margin-top: 15px;
        font-size: 14px;
        line-height: 24px;
    }

    .content-06-main .part-01, .part-02 {
        padding-top: 220px;
    }

    .content-06-main img {
        transform: scale(0.9);
    }

    .half-part .half-part-text h5 {
        font-size: 17px;
        line-height: 32px;
    }

    .half-part .half-part-text p {
        font-size: 14px;
        line-height: 28px;
    }

    .content-07-inner {
        padding: 50px 0 60px;
        margin-bottom: 0;
    }

    .content-07 {
        padding: 130px 20px 0;
    }    

    .content-07-left-large-words {
        top: 55px;
    width: 50px;
    }

    .content-07-title01 {
        padding: 0 30px 20px;
        margin: 0 auto;
    }

    .content-07-title02 {
        margin-bottom: 60px;
    }

    .content-07-title02:after,
    .content-07-title02:before {
        top: 5px;
    }

    .strong-img {
        width: 50%;
    }

    .strong-01-text {
        padding: 0;
    }

    .large-works {
        width: 50px;
        top: -55px;
    }

    .content-08 {
        padding: 0 20px;
    }

    .content-08-inner-01 {
        padding: 50px 0 140px;
    }

    .content-08-inner-02 .wave03 {
        top: -130px;
    }

    .content-08-inner-02>div img {
        width: 49%;
    }

    .content-08-inner-03 {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    .content-08-inner-03>div .sanfenzhiyi-tupian {
        width: 33%;
    }

    .content-08-inner-04>div img {
        width: 24%;
    }

    .content-08-inner-04>div .sanfenzhiyi-tupian {
        width: 32.5%;
    }

    .content-09 {
        padding: 110px 20px 0;
    }

    .large-about-us {
        width: 50px;
        top: 145px;
        left: 0;
    }

    .content-09 .top-about-us {
        margin-left: 388px;
        margin-bottom: 0;
    }

    .content-09-main-tag {
        width: 243px;
        height: 90px;
        margin-top: -45px;
        font-size: 24px;
        line-height: 30px;
    }

    .content-09-top-icon {
        position: absolute;
        top: 145px;
        left: 160px;
        width: 90px;
    }

    .content-09-main-block{
        padding: 0 10px;
    }
    
    .content-09-main-block-img img {
        width: 370px;
    }

    .content-09-main-block-text {
        max-width: 370px;
        padding: 20px;
        margin-top: -170px;
    }

    .content-09-main-block-text p {
        margin-top: 10px;
    }

    .content-09-right-icon01 {
        top: 295px;
        width: 35px;
        height: 35px;
    }

    .content-09-right-icon02 {
        right: 8px;
        top: 310px;
    }

    .content-09-right-icon02 img {
        width: 100px;
    }

    .content-09-bottom {
        width: 625px;
    }

    .content-09-right-icon03 {
        right: 15px;
        bottom: 22px;
        width: 55px;
        height: 55px;
    }

    .content-09-right-icon04 {
        right: 7px;
        bottom: 15px;
        width: 25px;
        height: 25px;
    }

    .content-09-main {
        padding-bottom: 65px;
    }

    .form-content {
        padding: 80px 40px 60px;
    }

    .form-content-box .form-content-box-bottom-p {
        margin-bottom: 30px;
    }

    .all-form-input {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 25px;
    }

    .all-form-input input, select, textarea {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .all-form-input label p br {
        display: none;
    }

    form .about-profile-infor {
        margin: 0;
    }

    
    span.error {
        top: 30px;
        left: 10px;
    }

    .all-form-input .post-code {
        width: 100%;
    }

    .all-form-input .post-code p {
        margin-right: 60px;
    }

    .footer-main {
        flex-direction: column;
        row-gap: 30px;
    }


    .footer-content {
        padding: 35px 110px;
    }

    .footer-logo {
        width: 100px;
    }

    .footer-main-text {
        justify-content: space-between;
    }

    .content-06-main .part-01, .part-03 {
        padding-left: 20px;
    }

    .content-06-main .part-02, .part-04 {
        padding-right: 20px;
    }

    .content-06-main .part-01 .half-part-text,
    .content-06-main .part-03 .half-part-text,
    .content-06-main .part-04 .half-part-text  {
        max-width: 335px;
    }

    .content-06-main .part-01 .half-part-img,
    .content-06-main .part-03 .half-part-img {
        margin-right: -10px;
    }

    .content-06-main .part-03 .space,
    .content-06-main .part-04 .space {
        height: 0;
    }

    .part-04-second-img {
        transform: unset;
        margin-left: -7px;
        width: 241px;
        margin-bottom: 65px;       
    }

    .content-06-main .part-02 .half-part-text {
        margin-bottom: -95px;
    }

    .content-06-main .part-02 .part-inner {
        transform: translate(0, 65px);
    }

    .strong-img02 {
        margin-bottom: 50px;
    }
}






@media (max-width: 1360px) {
    .yellow_contact_bttn_inner:after,
    .yellow_contact_bttn_inner {
        height: 90px;
        width: 90px;
    }
    .pagecontentlink_list-content:not(:last-child) {
        margin-bottom: 7px;
    }

    .pagecontentlink_list_content_link_ja {
        font-size: 10px;
    }

    .pagecontentlink {
        margin-top: 30px;
    }
    
}

@media (max-width: 1280px) {
    .pagecontentlink {
        max-width: max-content;
        margin: 10px auto 0;
        opacity: 0;
    }
}


@media (max-width: 1200px) {
    .left-scroll {
        display: none;
    }
    .right-scroll {
        display: none;
    }
}

@media (max-width: 1105px) {
    header .header-menu .pc-menu {
        justify-content: flex-end;
    }

    header .header-menu .pc-menu a {
        display: none;
    }

    .pc-menu .humbuger-menu {
    }
}

@media (max-width: 1080px) {
    .top-logo {
        display: none;
    }

    .content-01 .sp-top-logo {
        display: block;
    }

    header .header-menu {
        justify-content: flex-end;
    }

    .yellow_contact_bttn {
        display: none;
    }

}


@media (max-width: 985px) {
    header .header-menu .pc-menu {
        display: none;
    }

    .content-01 .sp-menu {
        display: block;
    }
}


@media (max-width: 775px) {
    .content-04-main-right {
        width: 160px;
    }
}






@media (max-width: 767px) {
    .sp-hidden {
        display: none;
    }

    .container {
        max-width: 100%;
        border-radius: 0;
    }

    .drawernavi {
        height: 100vh;
        width: 100%;
    }

    .drawernavi_bg {
        background: #fff;
    }

    .drawernavi_content_menu {
        margin-bottom: 25px;
    }

    .drawernavi_content_menu li {
        display: flex;
        justify-content: center;
    }

    .drawernavi_content_menu li a {
        font-size: 17px;
    }

    .drawernavi_content .sp-contact-button {
        display: block;
    }

    .drawernavi_content_sns {
        justify-content: center;
    }

    .drawernavi_content_sns_list {
        max-width: 130px;
    }

    .drawernavi_content_sns_list01 .drawernavi_content_sns_movecircle,
    .drawernavi_content_sns_list02 .drawernavi_content_sns_movecircle {
        height: 90px;
    }

    .drawernavi_content_sns_list .drawernavi_content_sns_movecircle a img {
        width: 45px;
    }

    .humbuger-menu.open span:nth-child(1) {
        transform: translate(0px, 7px) rotate(-45deg) scalex(1.2);
    }

    .humbuger-menu.open span:nth-child(3) {
        transform: translate(0px, -13px) rotate(45deg) scalex(1.2);
    }

    .content-01 .sp-menu {
        right: 0;
        top: 32px;
    }

    .main-scroll {
        padding-top: 0;
    }

    /* .content-01 {
        height: 100vh;
    } */

    .content-01 .main-banner{
        height: 100vh;
        background: url(../images/FV-sp.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .content-01 .main-banner .pc-banner {
        display: none;
    }

    .main-banner img {
        height: 100vh;
    }

    .header-menu a img {
        width: 100px;
    }

    .content-01 .main-banner-text h4 {
        font-size: 25px;
        line-height: 40px;
        padding-bottom: 10px;
    }

    .content-01 .main-banner-text h3 {
        font-size: 43px;
        line-height: 50px;
    }

    .content-01 .main-banner-text {
        padding: 20px calc(65 / 375 * 100vw) 40px calc(40 / 375 * 100vw);
    }

    .content-01 .scroll-down {
        right: -25px;
    }

    .content-02 {
        padding: 65px 15px 45px;
    }

    .content-02 .content-02-inner h5 {
        font-size: 17px;
        line-height: 27px;
    }

    .content-02 .content-02-inner h3 {
        font-size: 36px;
        line-height: 46px;
    }

    .content-02 .content-02-inner p {
        font-size: calc(14 / 375 * 100vw);
        line-height: calc(24 / 375 * 100vw);
    }

    .content-02-left-icon {
        top: 115px;
    }

    .content-02-left-icon>div {
        width: 45px;
    }

    .content-02-left-icon>div:before {
        width: 30px;
        height: 30px;
        top: -10px;
        right: -10px;
    }

    .content-02-right-icon01 {
        top: 70px;
        width: 20px;
        height: 22px;
    }

    .content-02-right-icon02 {
        top: 95px;
        right: 5px;
        width: 45px;
    }

    .content-02-right-icon03 {
        bottom: 75px;
        right: 2px;
        width: 35px;
        height: 35px
    }

    .content-03 .large-trouble {
        top: -20px;
        left: 0;
        width: 35px;
    }

    .content-03 {
        padding: 0 30px;
        height: unset;
    }

    .content-03-main {
        position: unset;
        flex-direction: column;
        align-items: center;
    }

    .content-03 .content-03-main div {
        transform: scale(0.9);
        position: unset;
    }

    .content-03-main .top-shine,
    .content-03-pic06 {
        display: none;
    }

    .content-03-title {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .content-03-title span {
        font-size: 26px;
        line-height: 40px;
    }

    .content-03-title:before {
        height: 30px;
    }

    .content-03-title:after {
        width: 305px;
        bottom: -5px;
    }


    .content-03-pic01 {
        width: 70%;
        margin-right: -180px;
    }

    .content-03-pic01>div:before {
        width: 35px;
        height: 35px;
    }

    .content-03-pic02 {
        margin-top: -117px;
        margin-left: -70px;      
    }

    .content-03-pic03 {
        margin-top: -56px;
        margin-right: -120px;    
    }

    .content-03-pic04 {
        margin-top: -102px;
        margin-left: -100px;
    }

    .content-03-pic05 {
        padding-top: -170px;
    }

    .content-03-pic07 {
        width: 70%;
        margin-left: -175px;
        margin-top: -45px;
    }

    .content-03-pic07>div:before {
        width: 35px;
        height: 35px;
    }

    .content-03-pic05 {
        margin-top: -150px;
        margin-right: -80px;
        z-index: 4;        
    }

    .content-03-pic08 {
        margin-top: -110px;
        margin-left: -45px;
    }








    .content-04 {
        padding: 155px 30px 50px;
    }

    .content-04 .content-04-bac-01 {
        top: 190px;
        right: 25px;
        width: 60%;
    }

    
    .content-04-main {
        flex-direction: column-reverse;
        padding-bottom: 30px;
        position: unset;
    }

    .content-04 .content-04-bac-02 {
        top: 320px;
        right: -30px;
        bottom: unset;
    }

    .content-04-main-left {
        padding: 0 10px;
    }

    .content-04-main-left0-line {
        width: 100%;
    }

    .content-04-main-left h4 {
        font-size: 18px;
        line-height: 30px;
    }

    .content-04-main-left h4 span {
        font-size: 35px;
        line-height: 45px;
    }

    .content-04-main-left-list-one p {
        font-size: 14px;
        line-height: 25px;
    }

    .content-04-main-left-list-one p br {
        display: block;
    }

    .content-04-main-right {
        position: unset;
        margin-bottom: 40px;
        width: unset;
    }

    .check-content {
        padding: 100px 45px 130px;
    }
    
    .check-content-inner {
        padding: 25px 28px;
    }

    .check-content-inner .check-content-inner-main {
        padding: 20px;
    }

    .check-content-inner p {
        font-size: 17px;
        line-height: 27px;
    }

    .check-contect-right-icon {
        right: -50px;
        top: -60px;
        transform: scale(0.5);
    }

    .check-contect-left-icon02 {
        transform: scale(0.5);
        left: -85px;
        bottom: -65px;
    }

    .check-contect-left-icon01 {
        transform: scale(0.5);
        left: -62px;
        bottom: -30px;
    }

    .content-05-title-01:after,
    .content-05-title-01:before {
        top: 2px;
    }

    .content-05 {
        padding: 50px 20px 100px 20px;
    }

    .content-05-main {
        row-gap: 100px;
    }

    .content-05-title-03 {
        font-size: 24px;
        line-height: 40px;
    }

    .content-05-item,
    .content-05-item.item02 {
        flex-direction: column;
    }

    .content-05-item .content-05-item-left {
        margin: 40px 20px 20px;
        width: calc(100% - 40px);
        padding: 0 10px 30px 10px;
    }

    .content-05-item .content-05-item-left:before {
        width: calc(340 / 400 * 100%);
    }
    
    .content-05-item-left-inner-tag {
        margin: 0 auto 35px;
    }

    .content-05-item-left-inner-title {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 15px;
    }

    .content-05-item-left-inner p {
        max-width: 100%;
    }

    .content-05-item-right {
        margin-left: 0;
        max-height: unset;
        margin-top: 25%;
    }

    .content-05-item-right img {
        transform: unset;
    }

    .item02 .content-05-item-right img {
        transform: unset;
    }

    .content-05-icon01 {
        top: 450px;
        right: 7px;
    }

    .content-05-icon02,
    .item03 .content-05-icon06 {
        bottom: -45px;
        right: -20px;
        width: 200px;
    }

    .item02 .content-05-item-right {
        margin-right: 0;
    }

    .item02 .content-05-icon03 {
        top: 415px;
    }

    .content-06-title01 {
        font-size: 22px;
        line-height: 32px;
    }

    .content-06-title01 span {
        font-size: 42px;
        line-height: 53px;
    }

    .content-06-title01 img {
        width: 25px;
    }

    .content-06-title01:after {
        height: 6px;
    }

    .content-06-title02 {
        margin-bottom: -45px;
    }

    .content-06-title02 h3 {
        font-size: 50px;
        line-height: 65px;
    }

    .content-06-title02 img {
        width: 40px;
    }

    .content-06-title02 h4 {
        font-size: 45px;
        line-height: 60px;
    }
    
    .content-06-main .half-part {
        width: 100%;
    }

    .content-06-title03 {
        font-size: 16px;
        line-height: 30px;
    }

    .content-06-title03 span {
        font-size: 26px;
        line-height: 37px;
    }

    .content-06-inner-title {
        top: 75px;
    }

    .content-06-inner-title p {
        margin-top: 10px;
        font-size: 12px;
        line-height: 24px;
    }

    .content-06-main .part-01 {
        padding: 165px 20px 60px;
    }

    .content-06-main .part-01, .part-03 {
        background-color: #E8F5F5;
    }

    .content-06-main .part-02, .part-04 {
        background-color: #C9EFF0;
    }

    .content-06-main .part-02,
    .content-06-main .part-03 {
        padding: 60px 20px;
    }

    .content-06-main .part-04 {
        padding: 0px 20px 60px;
    }

    .content-06-main .part-01 .part-inner {
        margin: 0;
        transform: unset;
        flex-direction: column-reverse;
        row-gap: 10px;       
    }
    .content-06-main .part-02 .part-inner,
    .content-06-main .part-03 .part-inner,
    .content-06-main .part-04 .part-inner {
        margin: 0;
        transform: unset;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .content-06-main .part-01 .part-inner img {
        height: 230px;
    }

    .content-06-main .part-01 .half-part-text,
    .content-06-main .part-02 .half-part-text, 
    .content-06-main .part-03 .half-part-text, 
    .content-06-main .part-04 .half-part-text {
        max-width: 100%;
    }

    .content-06-main .part-02 .half-part-text p {
        max-width: unset;
    }
    
    .content-06-main .part-01 .half-part-text,
    .content-06-main .part-02 .half-part-text,
    .content-06-main .part-03 .half-part-text,
    .content-06-main .part-04 .half-part-text {
        margin: 0;
    }

    .content-06-main .part-01 .half-part-img, 
    .content-06-main .part-03 .half-part-img,
    .content-06-main .part-03 .half-part-img,
    .content-06-main .part-04 .half-part-img {
        margin: 0;
    }

    .content-06-main img {
        transform: unset;
    }

    .part-04-first-img {
        width: 35%;
    }

    .part-04-second-img {
        width: 238px;
        margin-left: -20px;
        height: 280px;
        margin-top: auto;
        margin-bottom: 0;
    }

    .content-07-left-large-words {
        top: 65px;
        width: 45px;
    }

    .content-07 {
        padding: 100px 20px 0;
    }
    
    .content-07-inner {
        background: #fff;
    }

    .strong-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        margin: 0;
        padding: 90px 10px;
    }

    .strong-img {
        width: 100%;
    }

    .strong-item-01,
    .strong-item-03 {
        background-color: #C9EFF0;
    }

    .strong-item .strong-text {
        width: 100%;
        padding: 0;
    }

    .strong-item .strong-text>div {
        align-items: flex-start;
    }

    .strong-01-text p,
    .strong-item .strong-02-text p {
        max-width: 100%;
        font-size: 14px;
    }
    .strong-01-text h5 {
        margin-left: 0;
    }

    .strong-02-text p {
        margin: 0;
    }

    .strong-item .strong-text h5 {
        margin-bottom: 10px;
    }

    .strong-item-03 {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        margin: 0;
        padding: 0 10px 45px;
    }

    .strong-item-03 .strong-text {
        width: 100%;
        padding: 0;
    }

    .strong-03-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 30px;
    }

    .strong-03-text .strong-number {
        margin: 0 auto;
    }

    .strong-03-text .strong-number-right {
        margin-top: -215px;
    }

    .content-07-bottom {
        padding: 0;
        margin-top: 60px;
    }

    .content-07-bottom-inner {
        font-size: 14px;
        line-height: 25px;
    }

    .large-works {
        width: 45px;
        top: -55px;
    }

    .content-08-inner-01 {
        padding: 35px 0 95px;
    }
    
    .content-08-inner-01 h4 {
        font-size: 24px;
        line-height: 36px;
    }

    .content-08-inner-01 h4 .second {
        font-size: 16px;
        line-height: 30px;
    }

    .content-08-inner-01 p {
        font-size: 14px;
        line-height: 26px;
        padding: 0 10px;
    }

    .content-08-inner-02 {
        padding: 30px 10px;
    }

    .content-08-inner-02 .content-08-inner-02-img {
        flex-direction: column;
        align-items: center;
    }

    .content-08-inner-02>div img {
        width: 100%;
    }

    .content-08-inner-03>div .sanfenzhiyi-tupian {
        width: 88%;
    }

    .content-08-inner-02 .wave04 {
        bottom: -135px;
    }

    .content-08-inner-03 {
        padding: 125px 15px 80px;
    }

    .content-08-inner-04 {
        padding: 160px 10px 50px;
    }

    .content-08-inner-04 .content-08-inner-02-img {
        flex-direction: row;
    }

    .content-08-inner-04>div img {
        width: 24%;
    }

    .content-09 {
        padding: 80px 20px 0;
    }

    .content-09 .top-about-us {
        margin-left: 95px;
    }

    .large-about-us {
        width: 45px;
        top: 130px;
        left: 0;
    }

    .content-09-main-tag {
        width: 176px;
        height: 70px;
        margin-top: -35px;
        font-size: 20px;
        line-height: 30px;
    }

    .content-09-top-icon {
        top: 139px;
        left: 55px;
        width: 60px;
    }

    .content-09-main h6 {
        font-size: 13px;
        line-height: 26px;
        padding-left: 30px;
        margin-bottom: 10px;
        margin-top: 25px;
    }


    .content-09-main-block-text {
        max-width: 100%;
        padding: 20px;
        margin-top: 20px;
    }

    .content-09-main-block-img img {
        width: unset;
    }

    .content-09-main-block-text p {
        /* font-size: 12px;
        line-height: 24px; */
    }

    .content-09-bottom {
        width: calc(100% - 20px);
        padding: 15px 0;
        font-size: 14px;
        line-height: 28px;
    }

    .content-09-bottomleft-icon {
        bottom: 120px;
        width: 60px;
    }

    .content-09-right-icon02 {
        top: 230px;
        width: 60px;
    }

    .content-09-right-icon01 {
        top: 215px;
        width: 20px;
        height: 20px;
    }

    .form-content {
        padding: 80px 20px 60px;
    }

    .form-content-box {
        padding: 30px 20px 35px;
    }

    .form-content-box h3 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 35px;
    }

    .form-content-box h4 {
        font-size: 17px;
        line-height: 25px;
    }

    .form-content-box .form-content-box-top-p {
        font-size: 12px;
    }

    .telephone-number {
        padding: 20px 30px;
        row-gap: 15px;
        flex-direction: column;
    }

    .telephone-number-right {
        text-align: center;
    }

    .form-progress-buttn {
        font-size: 10px;
    }

    .form-progress-bac img {
        height: 40px;
    }

    .form-progress-buttn .step1 {
        padding-left: 8px;
    }

    .confirm-input label {
        width: unset;
    }

    .all-form-input .post-code {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 10px;
    }

    .all-form-input .post-code p {
        margin-right: auto;
    }

    .confirm-button {
        flex-direction: column;
        row-gap: 15px;
    }

    .left-button-cover {
        width: 100%;
    }

    .bottom-back-bttn,
    .confirm-button .bottom-next-bttn {
        width: 100%;
    }

    .thanks-go-top {
        width: 100%;
    }
    
    .footer-content {
        padding: 35px 20px;
    }

    .footer-main {
        align-items: center;
        margin: 0 auto;

    }

    .footer-logo {
        width: 115px;
    }

    .footer-main-text {
        flex-direction: column;
        align-items: center;
    }

    .footer-ul {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }

    .footer-ul .ul-01-line {
        width: 135px;
    }



    .footer-ul02 {
        margin-left: 0;
    }
    
    .footer-go-to-top {
        right: 10px;
    }

    .menufixed_on footer {
        display: block;
    }
    
}